body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width: 90%;
  height: 90vh;
  background: wheat;
  border: 2px solid black;
}

.table{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.table p{
  text-align: start;
  position: relative;
  left: 15px;
}
